<div class="home__container">
    <app-card 
    gameCover="assets\ac-cover.jpg"
    gamePrice="R$ 354,00"
    gameType="Digital"
    gameLabel="Best of Year"

    ></app-card>

    <app-card 
    gameCover="assets\bt-1.jpg"
    gamePrice="R$ 299,00"
    gameType="DISC"
    gameLabel="Exclusive"

    ></app-card>

    <app-card 
    gameCover="assets\bt-4.jpg"
    gamePrice="R$ 120,00"
    gameType="Digital"
    gameLabel="PROMOTION"

    ></app-card>

    <app-card 
    gameCover="assets\bt-5.jpg"
    gamePrice="R$ 400,00"
    gameType="Digital"
    gameLabel="NEW"

    ></app-card>
  
</div>
